* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

header, section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
}

.contact-header {
  justify-content: flex-end;
  margin-bottom: 2%;
}

header {  
  height: 120px;  
  background-color: #ffffff;
}

p {
  font-size: 24px;
  line-height: 1.5;
}

.logo {  
  font-weight: bold;
  color: #CA2D2D;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 32px;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

header a {  
  color: #000;
}

header a:hover {
  color: #CA2D2D;  
}

.hero, #about {  
  height: 714px;  
}

.hero div, #about div,
.contact-section div {
  width: 45%;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
}

.contact-h1,.projects-h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 3%;
}

.hero p {
  margin: 32px auto 48px;
  padding-right: 15%;
}

button,.submit-btn {
  width: 220px;
  height: 64px;
  border-radius: 10px;
}

button a {
  display: block;
  height: 100%;
  padding-top: 10%;  
}

.hero button,.text button,.submit-btn {
  background-color: #CA2D2D;  
  border: none;  
}

.hero button:hover,.text button:hover,.submit-btn:hover {
  background-color: #ffffff;  
  border: 2px solid #CA2D2D;
}

.hero a,.text a {  
  width: 100%;
  color: #ffffff;
}

.submit-btn {
  color: #ffffff;
  margin-left: 20%;
}

.hero button:hover a,.text button:hover a,.submit-btn:hover {
  color: #CA2D2D;
}

#about {
  background-color: #FAEAEA; 
}

h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

#about p {
  padding-right: 7%;
}

#portfolio {
  height: 773px;
  background-color: #ffffff;
}

.text {
  width: 30%;
}

.text p {
  margin: 22% auto;
}

.img-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  text-align: center;
}

.project-section {
  text-align: center;
  margin: 5% 0;
}

.img-bg {
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.25);
}

.img-box img,.project-section img {
  width: 311px;
  height: 243px;
  border-radius: 10px;
  object-fit: contain;
}

.img-box button,.project-section button {
  margin: 7% auto 0;  
  display: block;
}

.img-box button,.contact-header button,.project-section button { 
  background-color: #ffffff;
  border: 2px solid #CA2D2D;  
}

.img-box button a,.contact-header button a,.project-section button a {
  color: #CA2D2D;  
}

.img-box button:hover,.contact-header button:hover,.project-section button:hover {
  background-color: #CA2D2D;
  border: none;
}

.img-box button:hover a,.contact-header button:hover a,.project-section button:hover a {
  color: #ffffff;
}

.img-box p,.project-section p {
  font-weight: 600;
  margin: 13% auto;
}

input[type=text], input[type=email], textarea {
  display: block;
  width: 519px;
  height: 54px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  padding-left: 2%;
  margin: 5% 0;
}

textarea {
  height: 162px;
  resize: none;
  overflow-y: auto;
  font-family: inherit;
  padding-top: 2%;
}

input:focus, textarea:focus {
  border: 1px solid #CA2D2D;
  outline: none;
}